body,
div,
form,
span,
ul,
li,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

#clock {
  margin: 90px 90px;
  text-align: center;
  display: flex;
  align-items: flex-start;
}
#clock h1 {
  font-size: 25px;
}
#clock h2 {
  font-size: 35px;
  margin-left: 150px;
}
#clock h3 {
  margin-left: -100px;
  margin-top: 50px;
  font-size: 15px;

}

#login {
  width: 100%;
  align-items: center;
  justify-content: center;
}

#login input {
  width: 500px;
  height: 100px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 45px;
  font-weight: 800;
  text-align: center;
  outline: none;
  background: transparent;
  border-bottom: thick double#333333;
} 


#todo-form {
  width: 100%;
  padding: 30px 0px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#todo-form input {
  width: 500px;
  border: none;
  outline: none;
  color: white;
  font-size: 30px;
  text-align: center;
  background: transparent;
}

#todo-list {
  width: 100%;
  height: 150px;
  overflow-y: scroll;
  display: flex; 
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  font-weight: 600;
  text-transform: uppercase;
}

#todo-list button {
  color: red;
  border: none;
  outline: 20px;
  cursor: pointer;
  background-color: transparent;
}

#quote{
  margin-top: 100px;
  font-weight: 800;
  margin-left: 100px;
  font-size: 35px;
  text-align: center;
  color: burlywood;
}

#greeting {
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
} 

.bgImage{

  position: absolute;
  top : 0;
  left : 0;
  width : 100%;
  height:  100%;
  z-index : -1;
  animation: fadeIn 0.5s linear;
}

